*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.keyboard {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#left-arrow, #right-arrow{
    width: 50px;
}

.up-down-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#up-arrow, #down-arrow{
    width: 50px;
    height: 18px;
}

.key.large {
    width: 80px;
}

.key.small {
    width: 30px;
}

.key:active {
    background-color: #e0e0e0;
}

.key.larger{
    width: 17.5rem;
}

.shift{
    width: 8rem;
}

.medium{
    width: 6.5rem;
}

.del{
    width: 7.5rem;
}

.input{
    width: 100%;
    border: 1px solid gray;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: text;
}
